
                <!DOCTYPE html>
                    <html>
                        <head>
                            <title>Abi (Under 10) 50m Back</title>
                        </head>
                        <body>
                            <h3>Abi (Under 10) 50m Back</h3>
            
                            <svg height= "30" width="400">
                                <rect height="30" width="328.4" style="fill:rgb(0, 0, 255);" />
                            </svg>40.89<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="328.4" style="fill:rgb(0, 0, 255);" />
                            </svg>40.89<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="314.66" style="fill:rgb(0, 0, 255);" />
                            </svg>39.18<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="338.44" style="fill:rgb(0, 0, 255);" />
                            </svg>42.14<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="325.5" style="fill:rgb(0, 0, 255);" />
                            </svg>40.53<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="320.04" style="fill:rgb(0, 0, 255);" />
                            </svg>39.85<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="348.15" style="fill:rgb(0, 0, 255);" />
                            </svg>43.35<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="340.12" style="fill:rgb(0, 0, 255);" />
                            </svg>42.35<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0, 0, 255);" />
                            </svg>43.58<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="333.3" style="fill:rgb(0, 0, 255);" />
                            </svg>41.50<br />
                        "
                            <p>Average Time: 0:41.43</p>
                        </body>
                    </html>
                
