
                <!DOCTYPE html>
                    <html>
                        <head>
                            <title>Alison (Under 14) 100m Free</title>
                        </head>
                        <body>
                            <h3>Alison (Under 14) 100m Free</h3>
            
                            <svg height= "30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0, 0, 255);" />
                            </svg>1:16.03<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="347.38" style="fill:rgb(0, 0, 255);" />
                            </svg>1:15.46<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="332.74" style="fill:rgb(0, 0, 255);" />
                            </svg>1:12.28<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="327.77" style="fill:rgb(0, 0, 255);" />
                            </svg>1:11.20<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="326.84" style="fill:rgb(0, 0, 255);" />
                            </svg>1:11.00<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="332.55" style="fill:rgb(0, 0, 255);" />
                            </svg>1:12.24<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="322.29" style="fill:rgb(0, 0, 255);" />
                            </svg>1:10.01<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="343.83" style="fill:rgb(0, 0, 255);" />
                            </svg>1:14.69<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="331.45" style="fill:rgb(0, 0, 255);" />
                            </svg>1:12.00<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="340.01" style="fill:rgb(0, 0, 255);" />
                            </svg>1:13.86<br />
                        "
                            <p>Average Time: 1:12.88</p>
                        </body>
                    </html>
                
