
                <!DOCTYPE html>
                    <html>
                        <head>
                            <title>Aurora (Under 13) 50m Free</title>
                        </head>
                        <body>
                            <h3>Aurora (Under 13) 50m Free</h3>
            
                            <svg height= "30" width="400">
                                <rect height="30" width="340.52" style="fill:rgb(0, 0, 255);" />
                            </svg>29.82<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="338.47" style="fill:rgb(0, 0, 255);" />
                            </svg>29.64<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="342.92" style="fill:rgb(0, 0, 255);" />
                            </svg>30.03<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0, 0, 255);" />
                            </svg>30.65<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="329.56" style="fill:rgb(0, 0, 255);" />
                            </svg>28.86<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="344.98" style="fill:rgb(0, 0, 255);" />
                            </svg>30.21<br />
                        
                            <svg height= "30" width="400">
                                <rect height="30" width="343.15" style="fill:rgb(0, 0, 255);" />
                            </svg>30.05<br />
                        "
                            <p>Average Time: 0:29.89</p>
                        </body>
                    </html>
                
